Checks: '-*, cppcoreguidelines-avoid-goto, cppcoreguidelines-pro-type-const-cast, cppcoreguidelines-narrowing-conversions, modernize-use-nullptr, modernize-use-override, google-explicit-constructor, readability-delete-null-pointer, readability-braces-around-statements, readability-container-size-empty, readability-redundant-control-flow, readability-identifier-naming, readability-simplify-boolean-expr, google-build-using-namespace'

HeaderFilterRegex: '\.h$'

WarningsAsErrors: '*'
